.register {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%),
        url("https://trenddirectsr.com/wp-content/uploads/2021/05/netflix-banner.png");
    .top {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .loginButton {
            color: white;
            background-color: red;
            border-radius: 2px;
            padding: 10px 20px;
            align-items: center;
            border: none;
            cursor: pointer;
        }
        img {
            height: 40px;
        }
    }
    .container {
        width: 40%;
        margin: 150px auto;
        color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        h1 {
            font-size: 60px;
            text-align: center;
            margin: 0;
        }
        h2 {
            font-size: 30px;
            font-weight: 500;
        }
        p {
            font-size: 20px;
        }
        .input,.input2{
            width: 100%;
            height: 70px;
            align-items: center;
            display: flex;
            flex-direction: row;
            input {
                padding: 0 10px;
                font-size: 20px;
                font-weight: 200;
                flex: 9;
                height: 100%;
                border: none;
                color: var(--main-color);
                &::placeholder {
                    color: gray;
                }
            }
            .registerButton {
                flex: 3;
                height: 100%;
                font-size: 24px;
                color: white;
                font-weight: 700;
                background-color: red;
                border: none;
                cursor: pointer;
            }
        }
        .input2{
            flex-wrap: wrap;
            input {
                margin: 10px;
            }
            .registerButton{
                margin: 10px;
            }
        }
    }
}
