.featured {
    height: 90vh;
    position: relative;
    font-size: 20px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .category {
        position: absolute;
        top: 150px;
        left: 100px;
        font-size: 30px;
        font-weight: 600;
        color: white;
        align-items: center;
        display: flex;
        z-index: 99;
        select {
            cursor: pointer;
            background-color: var(--main-color);
            border: 1px solid dimgray;
            color: white;
            margin-left: 20px;
            padding: 10px;
            border-radius: 5px;
        }
    }
    .info {
        position: absolute;
        left: 100px;
        bottom: 150px;
        width: 35%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 80%;
        }
        .desc {
            margin: 20px 0px;
            text-align: justify;
        }
        @media only screen and (max-width: 650px) {
            .desc{
                display: none;
            }
          }  
        .buttons {
            display: flex;
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                align-items: center;
                display: flex;
                justify-content: space-between;
                font-weight: 700;
                cursor: pointer;
                &.play {
                    margin-right: 20px;
                    background-color: white;
                    color: var(--main-color);
                }
                &.moreInfomation {
                    background-color: dimgray;
                    color: white;
                }
                span {
                    margin-left: 10px;
                }
            }
        }
    }
}
