.topBar{
    margin: 0px 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding:5px;
    img{
        height: 40px;
    }
    .right{
        align-items: center;
        display: flex;
        .icon{
            margin-right:10px;
            cursor: pointer;
            height: 30px;
        }
        img{
            border-radius: 50%;
        }
        .logoutButton{
            margin-left:10px;
            background-color: red;
            border-radius: 5px;
            padding: 10px 20px;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }
    }


}